!!!
%html
  %head
    %title StaticMatic
    = stylesheets
  %body
    #global-container
      = yield
    
    = javascripts 'jquery-1.5.1'
    = javascripts 'support/underscore', 'support/backbone'
